:root {
	--white: #FFFFFF;
	--black: #000000;
	--very-light-pink: #C7C7C7;
	--text-input-field: #F7F7F7;
	--hospital-green: #ACD9B2;
	--text-color: rgb(99, 115, 129);
	--background-button: #00ab55;
	--sm: 14px;
	--md: 16px;
	--lg: 18px;
}
