@use './vars';

.MyOrder {
	width: 360px;
	padding: 24px;
	box-sizing: border-box;
	position: fixed;
	right: 0;
	background-color: #ffffff;
	top: 60px;
	bottom: auto;
	max-height: 90vh;
	border-radius: 6px;
	border: 1px solid var(--very-light-pink);
	animation: swipeLeft 0.26s ease;
	overflow-y: auto;
	z-index: 10000;
}
.title-container {
	display: flex;
	align-items: center;
	cursor: pointer;
}
.title-container img {
	transform: rotate(180deg);
	margin-right: 14px;
}
.title {
	font-size: var(--lg);
	font-weight: bold;
	margin: 10px 0;
}
.my-order-content {
	overflow: inherit;
}
.order {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 16px;
	align-items: center;
	background-color: var(--text-input-field);
	margin-bottom: 24px;
	border-radius: 8px;
	padding: 0 24px;
}
.order {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 16px;
	align-items: center;
	background-color: var(--text-input-field);
	margin-bottom: 24px;
	border-radius: 8px;
	padding: 0 24px;
}
.order p:nth-child(1) {
	display: flex;
	flex-direction: column;
}
.order p span:nth-child(1) {
	font-size: var(--md);
	font-weight: bold;
}
.order p:nth-child(2) {
	text-align: end;
	font-weight: bold;
}
.primary-button {
	background-color: #019bd7a6;
	border-radius: 8px;
	border: none;
	color: var(--white);
	width: 100%;
	cursor: pointer;
	font-size: var(--md);
	font-weight: bold;
	height: 50px;
}
@keyframes swipeLeft {
	0% {
	  width: 0;
	}
	100% {
	  width: 360px;
	}
  }
@media (max-width: 640px) {
	.MyOrder {
		width: 100%;
	}
	@keyframes swipeLeft {
		0% {
		  width: 0;
		}
		100% {
		  width: 100%;
		}
	  }
}
