@use 'vars';

.not-found-container {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}

.not-found-info {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 300px;
  text-align: center;
}

.primary-button {
  background-color: cornflowerblue;
  border-radius: 8px;
  border: none;
  color: var(--white);
  width: 100%;
  cursor: pointer;
  font-size: var(--md);
  font-weight: bold;
  height: 50px;
}